<a href="https://colab.research.google.com/github/JeevishaShukla/AIMLMonth2023/blob/main/%3C23162%3EJeevisha_miniprojectregressor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Mini Project on Regressor

In [1]:
#dataset (mini project)
import numpy as np
import pandas as pd

In [2]:
!wgate (https://www.kaggle.com/datasets/hellbuoy/car-price-prediction)

/bin/bash: -c: line 0: syntax error near unexpected token `https://www.kaggle.com/datasets/hellbuoy/car-price-prediction'
/bin/bash: -c: line 0: `wgate (https://www.kaggle.com/datasets/hellbuoy/car-price-prediction)'

In [3]:
df = pd.read_csv("/content/CarPrice_Assignment.csv")

In [5]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [7]:
df.shape

(205, 26)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [9]:
df.columns

Index(['car_ID', 'symboling', 'CarName', 'fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation', 'wheelbase',
       'carlength', 'carwidth', 'carheight', 'curbweight', 'enginetype',
       'cylindernumber', 'enginesize', 'fuelsystem', 'boreratio', 'stroke',
       'compressionratio', 'horsepower', 'peakrpm', 'citympg', 'highwaympg',
       'price'],
      dtype='object')

In [12]:
df.describe() #gives information about your dataset

,car_ID,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
le = LabelEncoder()
df["CarName"] = le.fit_transform(df["CarName"])

In [19]:
le.classes_ #classes that it has learned

array(['Nissan versa', 'alfa-romero Quadrifoglio', 'alfa-romero giulia',
       'alfa-romero stelvio', 'audi 100 ls', 'audi 100ls', 'audi 4000',
       'audi 5000', 'audi 5000s (diesel)', 'audi fox', 'bmw 320i',
       'bmw x1', 'bmw x3', 'bmw x4', 'bmw x5', 'bmw z4', 'buick century',
       'buick century luxus (sw)', 'buick century special',
       'buick electra 225 custom', 'buick opel isuzu deluxe',
       'buick regal sport coupe (turbo)', 'buick skyhawk',
       'buick skylark', 'chevrolet impala', 'chevrolet monte carlo',
       'chevrolet vega 2300', 'dodge challenger se', 'dodge colt (sw)',
       'dodge colt hardtop', 'dodge coronet custom',
       'dodge coronet custom (sw)', 'dodge d200', 'dodge dart custom',
       'dodge monaco (sw)', 'dodge rampage', 'honda accord',
       'honda accord cvcc', 'honda accord lx', 'honda civic',
       'honda civic (auto)', 'honda civic 1300', 'honda civic 1500 gl',
       'honda civic cvcc', 'honda prelude', 'isuzu D-Max ',
       'isuzu D-Max V-Cross', 'isuzu MU-X', 'jaguar xf', 'jaguar xj',
       'jaguar xk', 'maxda glc deluxe', 'maxda rx3', 'mazda 626',
       'mazda glc', 'mazda glc 4', 'mazda glc custom',
       'mazda glc custom l', 'mazda glc deluxe', 'mazda rx-4',
       'mazda rx-7 gs', 'mazda rx2 coupe', 'mercury cougar',
       'mitsubishi g4', 'mitsubishi lancer', 'mitsubishi mirage',
       'mitsubishi mirage g4', 'mitsubishi montero',
       'mitsubishi outlander', 'mitsubishi pajero', 'nissan clipper',
       'nissan dayz', 'nissan fuga', 'nissan gt-r', 'nissan juke',
       'nissan kicks', 'nissan latio', 'nissan leaf', 'nissan note',
       'nissan nv200', 'nissan otti', 'nissan rogue', 'nissan teana',
       'nissan titan', 'peugeot 304', 'peugeot 504', 'peugeot 504 (sw)',
       'peugeot 505s turbo diesel', 'peugeot 604sl', 'plymouth cricket',
       'plymouth duster', 'plymouth fury gran sedan', 'plymouth fury iii',
       'plymouth satellite custom (sw)', 'plymouth valiant',
       'porcshce panamera', 'porsche boxter', 'porsche cayenne',
       'porsche macan', 'renault 12tl', 'renault 5 gtl', 'saab 99e',
       'saab 99gle', 'saab 99le', 'subaru', 'subaru baja', 'subaru brz',
       'subaru dl', 'subaru r1', 'subaru r2', 'subaru trezia',
       'subaru tribeca', 'toyota carina', 'toyota celica gt',
       'toyota celica gt liftback', 'toyota corolla',
       'toyota corolla 1200', 'toyota corolla 1600 (sw)',
       'toyota corolla liftback', 'toyota corolla tercel',
       'toyota corona', 'toyota corona hardtop', 'toyota corona liftback',
       'toyota corona mark ii', 'toyota cressida', 'toyota mark ii',
       'toyota starlet', 'toyota tercel', 'toyouta tercel',
       'vokswagen rabbit', 'volkswagen 1131 deluxe sedan',
       'volkswagen 411 (sw)', 'volkswagen dasher', 'volkswagen model 111',
       'volkswagen rabbit', 'volkswagen rabbit custom',
       'volkswagen super beetle', 'volkswagen type 3', 'volvo 144ea',
       'volvo 145e (sw)', 'volvo 244dl', 'volvo 245', 'volvo 246',
       'volvo 264gl', 'volvo diesel', 'vw dasher', 'vw rabbit'],
      dtype=object)

In [23]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,2,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,1,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,4,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,5,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [25]:
df.describe()

,car_ID,symboling,CarName,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,103.000000,0.834146,77.209756,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,3.329756,3.255415,10.142537,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,59.322565,1.245307,41.014583,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,0.270844,0.313597,3.972040,39.544167,476.985643,6.542142,6.886443,7988.852332
min,1.000000,-2.000000,0.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,52.000000,0.000000,44.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.600000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,103.000000,1.000000,80.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,154.000000,2.000000,115.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,205.000000,3.000000,146.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [27]:
CarNameMapping = {idx:label for idx,label in enumerate(le.classes_)}
print(CarNameMapping)

{0: 'Nissan versa', 1: 'alfa-romero Quadrifoglio', 2: 'alfa-romero giulia', 3: 'alfa-romero stelvio', 4: 'audi 100 ls', 5: 'audi 100ls', 6: 'audi 4000', 7: 'audi 5000', 8: 'audi 5000s (diesel)', 9: 'audi fox', 10: 'bmw 320i', 11: 'bmw x1', 12: 'bmw x3', 13: 'bmw x4', 14: 'bmw x5', 15: 'bmw z4', 16: 'buick century', 17: 'buick century luxus (sw)', 18: 'buick century special', 19: 'buick electra 225 custom', 20: 'buick opel isuzu deluxe', 21: 'buick regal sport coupe (turbo)', 22: 'buick skyhawk', 23: 'buick skylark', 24: 'chevrolet impala', 25: 'chevrolet monte carlo', 26: 'chevrolet vega 2300', 27: 'dodge challenger se', 28: 'dodge colt (sw)', 29: 'dodge colt hardtop', 30: 'dodge coronet custom', 31: 'dodge coronet custom (sw)', 32: 'dodge d200', 33: 'dodge dart custom', 34: 'dodge monaco (sw)', 35: 'dodge rampage', 36: 'honda accord', 37: 'honda accord cvcc', 38: 'honda accord lx', 39: 'honda civic', 40: 'honda civic (auto)', 41: 'honda civic 1300', 42: 'honda civic 1500 gl', 43: 'honda civic cvcc', 44: 'honda prelude', 45: 'isuzu D-Max ', 46: 'isuzu D-Max V-Cross', 47: 'isuzu MU-X', 48: 'jaguar xf', 49: 'jaguar xj', 50: 'jaguar xk', 51: 'maxda glc deluxe', 52: 'maxda rx3', 53: 'mazda 626', 54: 'mazda glc', 55: 'mazda glc 4', 56: 'mazda glc custom', 57: 'mazda glc custom l', 58: 'mazda glc deluxe', 59: 'mazda rx-4', 60: 'mazda rx-7 gs', 61: 'mazda rx2 coupe', 62: 'mercury cougar', 63: 'mitsubishi g4', 64: 'mitsubishi lancer', 65: 'mitsubishi mirage', 66: 'mitsubishi mirage g4', 67: 'mitsubishi montero', 68: 'mitsubishi outlander', 69: 'mitsubishi pajero', 70: 'nissan clipper', 71: 'nissan dayz', 72: 'nissan fuga', 73: 'nissan gt-r', 74: 'nissan juke', 75: 'nissan kicks', 76: 'nissan latio', 77: 'nissan leaf', 78: 'nissan note', 79: 'nissan nv200', 80: 'nissan otti', 81: 'nissan rogue', 82: 'nissan teana', 83: 'nissan titan', 84: 'peugeot 304', 85: 'peugeot 504', 86: 'peugeot 504 (sw)', 87: 'peugeot 505s turbo diesel', 88: 'peugeot 604sl', 89: 'plymouth cricket', 90: 'plymouth duster', 91: 'plymouth fury gran sedan', 92: 'plymouth fury iii', 93: 'plymouth satellite custom (sw)', 94: 'plymouth valiant', 95: 'porcshce panamera', 96: 'porsche boxter', 97: 'porsche cayenne', 98: 'porsche macan', 99: 'renault 12tl', 100: 'renault 5 gtl', 101: 'saab 99e', 102: 'saab 99gle', 103: 'saab 99le', 104: 'subaru', 105: 'subaru baja', 106: 'subaru brz', 107: 'subaru dl', 108: 'subaru r1', 109: 'subaru r2', 110: 'subaru trezia', 111: 'subaru tribeca', 112: 'toyota carina', 113: 'toyota celica gt', 114: 'toyota celica gt liftback', 115: 'toyota corolla', 116: 'toyota corolla 1200', 117: 'toyota corolla 1600 (sw)', 118: 'toyota corolla liftback', 119: 'toyota corolla tercel', 120: 'toyota corona', 121: 'toyota corona hardtop', 122: 'toyota corona liftback', 123: 'toyota corona mark ii', 124: 'toyota cressida', 125: 'toyota mark ii', 126: 'toyota starlet', 127: 'toyota tercel', 128: 'toyouta tercel', 129: 'vokswagen rabbit', 130: 'volkswagen 1131 deluxe sedan', 131: 'volkswagen 411 (sw)', 132: 'volkswagen dasher', 133: 'volkswagen model 111', 134: 'volkswagen rabbit', 135: 'volkswagen rabbit custom', 136: 'volkswagen super beetle', 137: 'volkswagen type 3', 138: 'volvo 144ea', 139: 'volvo 145e (sw)', 140: 'volvo 244dl', 141: 'volvo 245', 142: 'volvo 246', 143: 'volvo 264gl', 144: 'volvo diesel', 145: 'vw dasher', 146: 'vw rabbit'}

In [41]:
cols = ['fueltype', 'aspiration',
       'doornumber', 'carbody', 'drivewheel', 'enginelocation','enginetype',
       'cylindernumber', 'fueltype', 'fuelsystem']

In [42]:
for col in cols:
    df[col] = le.fit_transform(df[col])
    colMapping = {idx:label for idx,label in enumerate(le.classes_)}
    print(colMapping) #giving what value is fit for owhat object

{0: 0, 1: 1}
{0: 0, 1: 1}
{0: 0, 1: 1}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4}
{0: 0, 1: 1, 2: 2}
{0: 0, 1: 1}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}
{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}
{0: 0, 1: 1}
{0: '1bbl', 1: '2bbl', 2: '4bbl', 3: 'idi', 4: 'mfi', 5: 'mpfi', 6: 'spdi', 7: 'spfi'}

In [43]:
#dividing x and y

In [44]:
x = df.drop("price",axis = 1)

In [45]:
y = df["price"]

In [46]:
# Normalisation / scaling 0-1(to avoid overflow we use normalise the range)
#min max scaling (bring all features in the range 0-1)
# (x-min)/(max-min)
from sklearn.preprocessing import MinMaxScaler

In [47]:
 minMaxScaler = MinMaxScaler(feature_range=(0,1))

In [48]:
X = minMaxScaler.fit_transform(x)

In [49]:
X[:5]

array([[0.        , 1.        , 0.01369863, 1.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.05830904,
        0.41343284, 0.31666667, 0.08333333, 0.41117145, 0.        ,
        0.33333333, 0.26037736, 0.71428571, 0.66428571, 0.29047619,
        0.125     , 0.2625    , 0.34693878, 0.22222222, 0.28947368],
       [0.00490196, 1.        , 0.02054795, 1.        , 0.        ,
        1.        , 0.        , 1.        , 0.        , 0.05830904,
        0.41343284, 0.31666667, 0.08333333, 0.41117145, 0.        ,
        0.33333333, 0.26037736, 0.71428571, 0.66428571, 0.29047619,
        0.125     , 0.2625    , 0.34693878, 0.22222222, 0.28947368],
       [0.00980392, 0.6       , 0.00684932, 1.        , 0.        ,
        1.        , 0.5       , 1.        , 0.        , 0.2303207 ,
        0.44925373, 0.43333333, 0.38333333, 0.51784329, 0.83333333,
        0.5       , 0.34339623, 0.71428571, 0.1       , 0.66666667,
        0.125     , 0.44166667, 0.34693878, 0.16666667, 0.26315789],
       [0.01470588, 0.8       , 0.02739726, 1.        , 0.        ,
        0.        , 0.75      , 0.5       , 0.        , 0.38483965,
        0.52985075, 0.49166667, 0.54166667, 0.32932506, 0.5       ,
        0.33333333, 0.18113208, 0.71428571, 0.46428571, 0.63333333,
        0.1875    , 0.225     , 0.55102041, 0.30555556, 0.36842105],
       [0.01960784, 0.8       , 0.03424658, 1.        , 0.        ,
        0.        , 0.75      , 0.        , 0.        , 0.37317784,
        0.52985075, 0.50833333, 0.54166667, 0.51823119, 0.5       ,
        0.16666667, 0.28301887, 0.71428571, 0.46428571, 0.63333333,
        0.0625    , 0.27916667, 0.55102041, 0.13888889, 0.15789474]])

In [50]:
y[:5]

0    13495.0
1    16500.0
2    16500.0
3    13950.0
4    17450.0
Name: price, dtype: float64

In [51]:
from sklearn.model_selection import train_test_split

In [54]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.30,random_state=0)

In [55]:
print(X_train.shape,y_test.shape)

(143, 25) (62,)

In [56]:
#modelling
from sklearn.linear_model import LinearRegression

In [58]:
Model = LinearRegression()
Model.fit(X_train,y_train)

Model.score(X_train,y_train)

0.9212207327796392

In [59]:
# homework : regularistaion?
Model.score(X_test,y_test)

0.7961110382079568

In [63]:
#Its a overfitted model
#Its giving huge difference between traina and test score, hence overfitted model

In [64]:
#Dicision Tree Regressor (less interpratability)
from sklearn.tree import DecisionTreeRegressor

In [68]:
# decision tree can make powerful model compare to linear regression model
Dmodel = DecisionTreeRegressor(max_depth=6, random_state=0)

In [71]:
Dmodel.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=6, random_state=0)

In [74]:
Dmodel.score(X_train, y_train)

0.9828973841258191

In [73]:
Dmodel.score(X_test, y_test)

0.8541199129138503

In [80]:
#Random Tree Regressor

from sklearn.ensemble import RandomForestClassifier

In [81]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [85]:

Rmodel = DecisionTreeRegressor(max_depth=6, random_state=0)

In [86]:
Rmodel.fit(X_train,y_train)

DecisionTreeRegressor(max_depth=6, random_state=0)

In [87]:
Rmodel.score(X_train, y_train)

0.9808099692371817

In [88]:
Rmodel.score(X_test, y_test)

0.8821846775364315

In [89]:
#It can be a good model as training score and testing score is high but they still have a gap of 10 percent which need to be consider